.button{
    display: inline-block;
    background-color: dimgray;
    box-shadow: 6px 6px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 150ms cubic-bezier(.45, .97, .68, 2.48);
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.08);
}