.main-section{
    background-color: darkgrey;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid darkgrey;
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: darkgrey;
}

.main-section.-bgSecond {
    background-color: coral;
}

.main-section.-bdBlack {
    border-color: #000;
}