@media (max-width: 810px){
    .main-header{
        display: block;
    }
    .main-banner{
        height: 750px;
    }
}

@media (max-width: 592px){
    .main-banner{
       align-items: center;
    }
}

@media (max-width: 974px){
    .main-banner{
        box-sizing: border-box;
        height: 590px;
    }
}

@media (max-width: 883px){
    .main-banner{
        box-sizing: border-box;
        height: 570px;
    }
}

@media (max-width: 854px){
    .main-banner{
        box-sizing: border-box;
        height: 550px;
    }
}

@media (max-width: 823px){
    .main-banner{
        box-sizing: border-box;
        height: 500px;
    }
}

@media (max-width: 743px){
    .main-banner{
        box-sizing: border-box;
        height: 450px;
    }
}

@media (max-width: 671px){
    .main-banner{
        box-sizing: border-box;
        height: 430px;
    }
}

@media (max-width: 644px){
    .main-banner{
        box-sizing: border-box;
        height: 410px;
        padding-bottom: 75px;
        padding-left: 0px;
    }
}

@media (max-width: 613px){
    .main-banner{
        box-sizing: border-box;
        height: 390px;
        padding-bottom: 100px;
        padding-left: 0px;
    }
}

@media (max-width: 584px){
    .main-banner{
        box-sizing: border-box;
        height: 370px;
        padding-bottom: 200px;
        padding-left: 0px;
    }
}

@media (max-width: 551px){
    .main-banner{
        box-sizing: border-box;
        height: 350px;
        padding-bottom: 75px;
        padding-left: 0px;
    }
}

@media (max-width: 521px){
    .main-banner{
        box-sizing: border-box;
        height: 330px;
        padding-bottom: 75px;
        padding-left: 0px;
    }
}

@media (max-width: 491px){
    .main-banner{
        box-sizing: border-box;
        height: 320px;
        padding-bottom: 75px;
        padding-left: 0px;
    }
}

@media (max-width: 370px){
    .main-banner{
        box-sizing: border-box;
        height: 310px;
        padding-bottom: 75px;
        padding-left: 0px;
    }
}

@media (max-width: 360px){
    .main-header{
        width: 400px;
    }

    .main-banner{
        box-sizing: border-box;
        background-size: 100%;
        width: 463px;
        height: 482px;
    }

    .main-banner .wrapper{
      width: 405px;
    }

    .main-section{
        width: 420px;
        padding-top: 75px;
    }

    .main-form{
        width: 350px;
    }

    .main-footer{
        width: 420px;
    }
}

@media (max-height: 360px){
    
}